<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="template">
	<head>
		<meta charset="UTF-8"/>
		<title>BBC - Pret</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	</head>
	<body>
		<div layout:fragment="content" class="text-center">
			<div class="container-fluid">
	        	<div class="row">
	        		<div class="col-10 offset-1">
	        			<div class="alert alert-success h5 font-weight-bold font-italic" th:if="${alertPret != null}">
	        				Nouveau prêt enregistré avec succès !!!
	        			</div>
		            	<div class="card">
		                	<div class="card-header bg-dark text-light h3 text-center font-weight-bold">
		                		Enrégistrer un prêt
		                	</div>
		                	<div class="card-body text-center">
		                		<form th:action="@{/pret/savePret}"  id="saveDepot" method="POST" th:object="${client}">
									
									<div class="from-group row">
										<div class="col-12 col-lg-6">
											<div class="row">
												<label for="numCNIB" class="col-form-label col-4 col-md-3 font-weight-bold text-right">N°CNIB :</label>
												<input type="text" required th:field="*{numCNIB}" class="form-control col-8 col-lg-8"/>
											</div>
										</div>
										
										<div class="col-12 col-lg-6 mt-3 mt-lg-0">
											<div class="row">
												<label for="phone" class="col-form-label col-4 col-md-3 font-weight-bold text-right">Téléphone:</label>
											    <input type="text" required th:field="*{phone}" class="form-control col-8 col-lg-8"/>
											</div>
										</div>
									</div><br/>
									
									<div class="from-group row">
										<div class="col-12 col-lg-6">
											<div class="row">
												<label for="nom" class="col-form-label col-4 col-md-3 font-weight-bold text-right">Nom :</label>
												<input type="text" required th:field="*{nom}" class="form-control col-8 col-lg-8"/>
											</div>
										</div>
										
										<div class="col-12 col-lg-6">
											<div class="row">
												<label for="prenom" class="col-form-label col-4 col-md-3 font-weight-bold text-right">Prénom(s) :</label>
											    <input type="text" required th:field="*{prenom}" class="form-control col-8 col-lg-8"/>
											</div>
										</div>
									</div><br/>
									
									<div class="from-group row">
										<div class="col-12 col-lg-6">
											<div class="row">
												<label for="montant" class="col-form-label col-4 col-md-3 font-weight-bold text-right">Montant :</label>
											    <input type="number" required name="montant" id="montant" class="form-control col-8 col-lg-8" min="1"/>
											</div>
										</div>
										
										<div class="col-12 col-lg-6">
											<div class="row">
												<label for="datePret" class="col-form-label col-4 col-md-3 font-weight-bold text-right">Date :</label>
											    <input type="date" required name="datePret" id="datePret" class="form-control col-8 col-lg-8"/>
											</div>
										</div>
									</div><br/>
									
									<div class="form-group row">
							        	<button class="btn bg-gradient-perso form-control col-4 col-lg-2 offset-4 text-light font-weight-bold" type="submit"><i
							            class="fa fa-check-circle mr-2"></i>VALIDER
							            </button>
							      	</div>
								</form>
		                	</div>
		                </div>
	                </div>
	            </div>
	         </div>
	         <!-- Files JS -->
	         <script src="/webjars/jquery/jquery.min.js" 
  					 th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
  			<script src="/js/pretValidation.js" 
  					th:src="@{/js/pretValidation.js}" type="text/javascript"></script>
		</div>
	</body>
</html>