<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="template">
	<head>
		<meta charset="UTF-8"/>
		<title>BBC - Credit</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	</head>
	<body>
		<div layout:fragment="content" class="text-center">
			<div class="container-fluid">
	        	<div class="row">
	        		<div class="col-12">
		            	<div class="card">
		                	<div class="card-header bg-dark text-light h3 text-center font-weight-bold">
		                		Détail d'un crédit
		                	</div>
		                	<div class="card-body text-center h6">
		                		<div class="from-group row">
									<div class="col-12 mt-3">
										<div class="row">
											<label class="col-form-label col-1 font-weight-bold text-right">CLIENT :</label>
											<input disabled th:value="${client.numCNIB}" class="form-control font-weight-bold col-2 mr-1"/>
											<input disabled th:value="${client.nom}" class="form-control font-weight-bold col-2 mr-1"/>
											<input disabled th:value="${client.prenom}" class="form-control font-weight-bold col-3 mr-1"/>
										</div>
									</div>
									
									<div class="col-12 mt-3">
										<div class="row">
											<label class="col-form-label text-uppercase col-1 font-weight-bold text-right">crédit :</label>
											<input disabled th:value="${client.montCreditF}" class="form-control font-weight-bold col-2 mr-1"/>
											
											<label class="col-form-label text-uppercase col-1 font-weight-bold text-right">payé :</label>
											<input disabled th:value="${client.montPayeF}" class="form-control font-weight-bold col-2 mr-1"/>
											
											<label class="col-form-label text-uppercase col-2 font-weight-bold text-right">Reste à payer :</label>
											<input disabled th:value="${client.montRestF}" class="form-control font-weight-bold col-2 mr-1"/>
										</div>
									</div>
									
									<div class="col-12 mt-5" th:if="${transactions != null}">
										<span class="text-uppercase font-weight-bold">Opérations</span>
										<table  class="table table-bordered table-hover">
											<thead>
												<tr class="bg-dark text-light text-uppercase font-weight-bold">
													<th>#</th><th>Opération</th><th>Produit</th><th>Montant</th><th>Montant payé</th>
													<th>Reste à payer</th><th>Date</th>
												</tr>
											</thead>
											
											<tbody>
												<tr th:each="t,temp :${transactions}" class="font-weight-bold">
													<td th:text="${temp.index + 1}"></td>
													<td th:text="${t.idOperation.libelleOperation}"></td>
													<td th:text="${t.idProduit.libelleProduit}"></td>
													<td th:text="${t.montTransF}"></td>
													<td th:text="${t.montPayeF}"></td>
													<td th:text="${t.montRestF}"></td>
													<td th:text="${t.dateTrans}"></td>
												</tr>
											</tbody>
										</table>
									</div>
									
									<div class="col-12 mt-5" th:if="${canals != null}">
										<span class="text-uppercase font-weight-bold">Abonnements</span>
										<table  class="table table-bordered table-hover">
											<thead>
												<tr class="bg-dark text-light text-uppercase font-weight-bold">
													<th>#</th><th>N° Abonné</th><th>N° Carte</th><th>Durée(en mois)</th><th>Montant Abonnement</th>
													<th>Montant Payé</th><th>Reste à payer</th><th>Date d'abonnement</th>
												</tr>
											</thead>
											
											<tbody>
												<tr th:each="c,temp :${canals}" class="font-weight-bold">
													<td th:text="${temp.index + 1}"></td>
													<td th:text="${c.numAbonne}"></td>
													<td th:text="${c.numCarte}"></td>
													<td th:text="${c.duree}"></td>
													<td th:text="${c.montAbonneeF}"></td>
													<td th:text="${c.montPayeF}"></td>
													<td th:text="${c.montRestF}"></td>
													<td th:text="${c.dateAbonnement}"></td>
												</tr>
											</tbody>
										</table>
									</div>
									
									<div class="col-12 mt-5" th:if="${prets != null}">
										<span class="text-uppercase font-weight-bold">Prêts</span>
										<table  class="table table-bordered table-hover">
											<thead>
												<tr class="bg-dark text-light text-uppercase font-weight-bold">
													<th>#</th><th>Date du prêt</th><th>Montant</th>
												</tr>
											</thead>
											
											<tbody>
												<tr th:each="p,temp :${prets}" class="font-weight-bold">
													<td th:text="${temp.index + 1}"></td>
													<td th:text="${p.datePret}"></td>
													<td th:text="${p.montPretF}"></td>
												</tr>
											</tbody>
										</table>
									</div>
									
									<div class="col-12 mt-5">
										<span class="text-uppercase font-weight-bold">Paiements</span>
										<p th:if="${paiements == null}" class="text-italic text-center">
											Aucun paiement trouvé
										</p> <br/>
										<div th:if="${paiements != null}">
											<table  class="table table-bordered table-hover">
												<thead>
													<tr class="bg-dark text-light text-uppercase font-weight-bold">
														<th>#</th><th>Date</th><th>Montant payé</th>
													</tr>
												</thead>
												
												<tbody>
													<tr th:each="p,temp :${paiements}" class="font-weight-bold">
														<td th:text="${temp.index + 1}"></td>
														<td th:text="${p.datePaie}"></td>
														<td th:text="${p.montPaieF}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
		                	</div>
		                </div>
	                </div>
	            </div>
	         </div>
		</div>
	</body>
</html>